
.m-home{
	div.swiper{
		height:1.55297rem;
		background:gray;
	}
	>ul{
		height:1.87rem;
		margin:0.2rem 0;
		background:#fff;
	}
	.u-categery{
		width:100%;
		height:1.6rem;
		background:#fff;
		.img{
			width:0.8rem;
			height:0.8rem;
		}
	}
}